.container {
  margin: auto;
  max-width: 500px;
  font-family: "Work Sans";
  color: rgb(40, 40, 40)	;
}

html {
  background-color: rgb(214, 191, 191)
}

.container a {
  text-decoration: none;
  color: rgb(80, 4, 11)
}

.container a:hover {
  color: rgb(29, 28, 28)
}

.heading {
  color: rgb(80, 4, 11)
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;  
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color:rgb(80, 4, 11)
}

.site-title {
    font-size: 4rem;
    color: rgb(80, 4, 11);
    font-weight: 700;
    margin: 3rem 0;
}

