.container {
  margin: auto;
  max-width: 500px;
  font-family: sans-serif;
}

.heading {
  color: rgba(114, 7, 66, 0.867);
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.nav-link-text {
  color: rgba(114, 7, 66, 0.867);
}

.site-title {
    font-size: 3rem;
    color: rgba(144, 50, 77, 0.912);
    font-weight: 700;
    margin: 3rem 0;
  }